<h1>Listing Rent Cases</h1>
<% if @landlord_rent_cases.present? %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
<% else %>
<p>還沒有任何出租資料喔!</p>
<% end %>
