<table class="table table-striped">
  <thead>
    <tr>
      <th>編號</th>
      <th>月租</th>
      <th>類型</th>
    </tr>
  </thead>
  <tbody>
  <% @rent_cases.each do |rent_case| %>
    <tr>
      <td><%= rent_case.id %></td>
      <td><%= link_to(rent_case.price, rent_case_path(rent_case)) %></td>
      <td><%= rent_case.type %></td>
    </tr>
  <% end %>  
  </tbody>

</table>