@import "bootstrap-sprockets";
@import "bootstrap_custom";
@import 'bootstrap-datetimepicker';
@import 'nprogress.css';
@import 'nprogress-bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "style";
@import "pages";
@import "dropzone/dropzone";

.bootstrap-datetimepicker-widget{
  background: white !important;
}